body {
  background: url('../images/mike-yukhtenko.jpg') no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: #ffffff 20px solid;
  padding: 0;
  margin: 0;
}

div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-size: 26px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

p {
  position: fixed;
  bottom: 10px;
  color: #ffffff;
}

