b.page {
  border: 1px solid #AAA;
  width: 100%;
  height: 640px
}
#home {
  background: #efa;
  background: url("images/pinkcity.jpg");
  background-size: cover;  background-position: 50% 50%;
}
.navbar-default .navbar-brand {color: #939}
#home h1{color: #000; font-size: 4em; text-align: center;margin: 50px 0 80px 0}
#home p{font-size: 2em; width: 400px; float:right;text-align: right; margin-bottom: 60px}
#home button{float:right;}
.bottle{width: 600px;position: absolute;top:165px;left: 40px}

.navbar, .navbar-default{
  background: transparent; border-color:transparent;
  -webkit-box-shadow: none; box-shadow: none;
}
.navbar-default .navbar-nav > li> a {background: transparent; color: black;font-size: 18px;}
.navbar-default .navbar-nav > li > a:hover {background: #f9f; color: white;}
ß
