

.page {
  border: 1px solid #AAA;
  width: 100%;
  height: 640px
}
#home {
  background: #efa;
  background: url("images/christin.jpg");
  background-size: cover;  background-position: 50% 50%;
}
.navbar-default .navbar-brand {color: #fcf}
#home h1{color: white; font-size: 4em; text-align: left;margin: 50px 0 40px 0}
#home p{color: white; font-size: 2em; width: 550px; float:left;text-align: left; margin-bottom: 80px}
#home button{float:left;}


.navbar, .navbar-default{
  background: transparent; border-color:transparent;
  -webkit-box-shadow: none; box-shadow: none;
}
.navbar-default .navbar-nav > li> a {background: transparent; color: white;font-size: 18px;}
.navbar-default .navbar-nav > li > a:hover {background: #f9f; color: white;}

 #FAQ {
  background: #efa;
  background-size: cover;
}
#FAQ h2{color: #f9f; font-size: 3em; text-align: right;}

/*This is the pricing page */
{
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
